{% extends 'layout/base.html' %}

{% block 'title' %} Inicio {% endblock %}

{% block 'content' %}
    <h1>Bienvenido a tu gestor personal</h1>
    <div class='cards'>
        <div class='card'>
            <img src='static/imgs/contact-book.png' width=100px heigth=100px />
            {#<a href="https://www.flaticon.com/free-icons/contact-book" title="contact book icons">Contact book icons created by Prosymbols Premium - Flaticon</a>#}
            <a href='{% url 'contact' %}'>CONTACTOS</a>
        </div>
        <div class='card'>
            <img src='static/imgs/reserva.png' width=100px heigth=100px />
            {#<a href="https://www.flaticon.es/iconos-gratis/reserva" title="reserva iconos">Reserva iconos creados por Freepik - Flaticon</a>#}
            <a href='{% url 'todolist' %}'>TAREAS</a>
        </div>
    </div>
{% endblock %}
